.header-bottom {
    background-color: #0c0c0c !important;
}
.color-div{background: #000000 !important}
.aside-menu li a {font-size: 20px}
.aside-menu {border: 1px solid #1CBF43;}
.aside-menu li a:hover {
    color: #f00;
}
.aside-menu li {
    border-bottom: 1px dotted #000;
}
.inner-title {
    font-weight: 500;
}

.products-find {
    border: 1px dotted #000;
    padding: 8px;
    color: #1CBF43;
    font-weight: 500;
}
.single-item a.add-to-cart {
    background: #000;
}
.single-item:hover a.add-to-cart {
    background: #1CBF43;
}
.ribbon.sale {
    background-color: #1CBF43;
}
.flash-sale {
    color: #1CBF43;
}
.introduce-text {
    font-size: 20px;
    line-height: 25px;
    text-align: left;
}

.your-order .beta-btn {
    background-color: #1CBF43;
    color: #fff !important;
}

.your-order:hover .beta-btn:hover {
    background-color: #000;
    color: #fff !important;
}

.beta-btn.primary:hover {
    color: #fff;
    background: #1CBF43;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #1CBF43;
    border-color: #1CBF43;
    cursor: default;
}
.contact-info i {
    font-size: 35px;
    color: #1CBF43;
    position: absolute;
    top: 0;
    left: 0;
}
#footer button:hover {
    color: #1CBF43;

}

.cart .beta-select i:first-child {
    color: #1CBF43;
}
.cart-total-value {
    color: #1CBF43;
    font-weight: bold;
}
.cart-item-amount span {
    color: #1CBF43;
    font-weight: 500;
}

.menu-beta li:hover > a {
    padding: 0 20px;
    line-height: 47px;
    height: 47px;
    display: block;
    background: #1CBF43;
    color: #fff;
}

.inner-title {
    border: 2px dotted #000;
    padding: 12px;
    color: #1CBF43 !important;
    font-weight: 500;
    border-radius: 25px;
}
.your-order-body h5 {
    color: #1CBF43;
}
#footer a:hover {
    color: #1CBF43;
}

.add-to-cart {
    background-color: #000;
}
.add-to-cart:hover {
    background-color: #1CBF43;
}
.beta-sales-price {
    color: #c7254e;
}
.beta-products-list h4 {
    border: 2px dotted #000;
    padding: 5px 10px 5px 5px;
    color: #c7254e !important;
    font-weight: 500;
    border-radius: 25px;
    width: 40%;
    text-align: center;
    text-transform: capitalize;
}
.beta-btn.primary {
    border-radius: 25px;
    margin-left: 10px;
}
.main-menu ul.l-inline > li > a:hover {
    background: #1CBF43;

}
.sub-menu li:hover, .children li:hover {
    background: #1CBF43;
    font-weight: bold;
    text-transform: uppercase;
}
.header-bottom {
    border-radius: 25px;
    margin: 5px auto;
}

#searchform #s {
    border-radius: 25px;
}
.cart {
    border-radius: 25px;
}
.menu-beta li:hover > a {
    border-radius: 25px;
}
.main-menu ul.l-inline > li > a:hover {
    font-weight: bold;
    border-radius: 25px;
}
.sub-menu li.parent-active, .children li.parent-active {
    background: #1CBF43;
}
.main-menu ul li.active > a {
    background: #1CBF43;
}
.main-menu ul.l-inline > li > a {
    background: #000;
}
.form-block label {
    font-weight: bold;
    font-size: 14px;
}
.form-control {
    border-radius: 25px;
}
.form-control:focus {
    border-radius: 25px;
}
.single-item-caption {margin-top: 20px;}
.thongbaodathang {
    width: 30%;
    padding: 15px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bolder;
    color: red;
}